/************** ( 'PORTFOLIO' ) **************/

.gridServices {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  
  /* PORTFOLIO CARD */
  .card {
    position: relative;
    max-width: 300px;
    height: 215px;
    background-color: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
  
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    border-radius: 35px !important;
  }
  .card:hover {
    height: 280px;
  }
  .card h2 {
    margin-bottom: 0;
    font-family: var(--fuente2);
    font-weight: bold;
  }
  .card p {
    margin-bottom: 0;
    font-family: var(--fuente1);
    font-size: 15px;
  }
  
  .card .git {
    color: rgb(94, 4, 143);
    font-weight: bold;
  }
  
  .card a {
    text-decoration: none;
    font-weight: bold;
    color:#825605
  }

  .link_demo{
    color: #15009f;
  }
  
  .card .image {
    position: relative;
    width: 260px;
    height: 260px;
  
    top: -40%;
    /* left: 8px; */
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .card .image img {
    max-width: 100%;
    border-radius: 15px;
  }
  
  .card .content {
    position: relative;
    top: -140px;
    padding: 10px 15px;
    color: #111;
    text-align: center;
  
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
  
  .card:hover .content {
    margin-top: 45px;
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
  }
  








  .containerContact {
    height: 240px;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  .linkContact {
    text-decoration: none;
  }
  
  .iconoContact {
    color: #bdbdbd;
    font-size: 8rem;
  }
  
  .iconoContact_texto {
    color: white;
    font-weight: bold;
    padding-top: 1rem;
  }
  
  .iconoContact_texto2 {
    color: var(--blanco);
    font-family: var(--fuente1);
  }
  
  .containerContact01:hover .iconoContact {
    transform: scale(1.05);
    color: #cbec13;
  }
  .containerContact01:hover .iconoContact_texto {
    transform: scale(1.05);
    color: #cbec13;
  }
  .containerContact01:hover .iconoContact_texto2 {
    transform: scale(1.05);
    color: #cbec13;
  }


  .tippy{
    background-color: #000000;
    border: 3px solid #cbec13;
    border-radius: 10px;
    font-family: var(--fuente1);
  }