@import '../base/variables';

.main_container {
    background-color: $negro;
    overflow: hidden;
}



/************** ( 'UPPER SCROLLER ' ) **************/
  
  .simplescrollup__button1 {
    position: fixed;
    bottom: 5rem;
    right: 2.5rem;
    transition: 1s all;
    z-index: 10000;

    i {
        font-size: 50px;
        color: $verde;
    }
  }
  .simplescrollup__button1--show {
    transform: translateX(0);
  }
  .simplescrollup__button1--hide {
    transform: translateX(100px);
  }

  
/************** ( 'BUTTON DOWNLOAD CV' ) **************/
.startContainer
{
	margin: 50px auto 0px auto;
	text-align: center;
}


.simplescrollup__button2 {
    position: fixed;
    bottom: 2rem;
    right: 0;
    transition: 1s all;
    z-index: 10000;
    min-width: 160px;
    font-size: 15px !important;
    font-weight: bold !important;
  }
  
  .simplescrollup__button2--show {
    transform: translateX(0);
  }
  .simplescrollup__button2--hide {
    transform: translateX(100px);
  }


  



/*************** ( 'LANGUAGE BUTTON' ) **************/

.language_button{
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
  }
  
  .buttonn {
    display: inline-block;
    width: 50px;
    height: 20px;
    background-color: #d1d1d1;
    border-radius: 30px;
    cursor: pointer;
    padding: 0;
   }
   
   .toggle {
    display: none;
   }

   .toggle:checked + .slider::after {
    content: 'EN';
    background-color: #282828;
    border-color: #df0000;
    transform: translateX(25px) rotate(360deg);
   }
   
   .slider {
    display: block;
    font-size: 10px;
    position: relative;
   }
   
   .slider::after {
    content: 'ES';
    width: 30px;
    color: #ffffff;
    font-weight: bold;
    height: 25px;
    background-color: #000000;
    border: 2px solid #cbec13;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    position: absolute;
    top: -5px;
    left: 0;
    display: grid;
    place-content: center;
    line-height: 0;
    transition: background-color .25s, transform .25s ease-in;
   }
   
   








/***********************************************************/

.button
{
  color: #cbec13;
  background: #000;
  border-radius: 7px;
}
.button:hover
{
  color: rgb(255, 255, 255);
  cursor: pointer;
  
}

.button3
{
  border-radius: 20px;
  padding: 10px 15px;
  color: #000;
  font-weight: bold;
  background: #cbec13;
  background: -moz-linear-gradient(top,  #66ff66 0%, #aaffaa 70%, #66ff66 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#66ff66), color-stop(70%,#aaffaa), color-stop(100%,#66ff66));
  background: -webkit-linear-gradient(top,  #66ff66 0%,#aaffaa 70%,#66ff66 100%);
  background: -o-linear-gradient(top,  #66ff66 0%,#aaffaa 70%,#66ff66 100%);
  background: -ms-linear-gradient(top,  #66ff66 0%,#aaffaa 70%,#66ff66 100%);
  background: linear-gradient(to bottom,  #66ff66 0%,#aaffaa 70%,#66ff66 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ff66', endColorstr='#66ff66',GradientType=0 );
}
.button3:hover
{
  color: #000;
  background: #44ee44;
  background: -moz-linear-gradient(top,  #44ee44 0%, #aaffaa 70%, #44ee44 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#44ee44), color-stop(70%,#aaffaa), color-stop(100%,#44ee44));
  background: -webkit-linear-gradient(top,  #44ee44 0%,#aaffaa 70%,#44ee44 100%);
  background: -o-linear-gradient(top,  #44ee44 0%,#aaffaa 70%,#44ee44 100%);
  background: -ms-linear-gradient(top,  #44ee44 0%,#aaffaa 70%,#44ee44 100%);
  background: linear-gradient(to bottom,  #44ee44 0%,#aaffaa 70%,#44ee44 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44ee44', endColorstr='#44ee44',GradientType=0 );
}

/***********************************************************/
@-webkit-keyframes pulseBox {
  0% {-webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.6);}
  100% {-webkit-box-shadow: 0px 0px 18px 0px rgba(0, 255, 0, 0.9);}
}
@-moz-keyframes pulseBox {
  0% {-moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.6);}
  100% {-moz-box-shadow: 0px 0px 18px 0px rgba(203, 236, 19, 0.9);}
}
@-o-keyframes pulseBox {
  0% {-o-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.6);}
  100% {-o-box-shadow: 0px 0px 18px 0px rgba(203, 236, 19, 0.9);}
}
@keyframes pulseBox {
  0% {box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.6);}
  100% {box-shadow: 0px 0px 18px 0px rgba(203, 236, 19, 0.9);}
}

.pulseBox {
  -webkit-animation-name: pulseBox;
  -moz-animation-name: pulseBox;
  -o-animation-name: pulseBox;
  animation-name: pulseBox;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  border: 0px;
}

/********************/

@-webkit-keyframes pulseText {
  0% {text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.7);}
  100% {text-shadow: 0px 0px 22px rgba(203, 236, 19, 0.9);}
}
@-moz-keyframes pulseText {
  0% {text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.7);}
  100% {text-shadow: 0px 0px 22px rgba(203, 236, 19, 0.9);}
}
@-o-keyframes pulseText {
  0% {text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.7);}
  100% {text-shadow: 0px 0px 22px rgba(203, 236, 19, 0.9);}
}
@keyframes pulseText {
  0% {text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.7);}
  100% {text-shadow: 0px 0px 22px rgba(203, 236, 19, 0.9);}
}

.pulseText {
  -webkit-animation-name: pulseText;
  -moz-animation-name: pulseText;
  -o-animation-name: pulseText;
  animation-name: pulseText;
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  -o-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  border: 0px;
}