@import '../base/variables';
@import '../base/mixins';

/************** ( 'PORTFOLIO' ) **************/

.contenedor_portfolio {
  background-color: $negro;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;

  h2 {
    font-size: 5rem;
    font-family: $fuentePrimary;
    font-weight: bold;
    margin-bottom: 6rem;
    }

  .portfolio_text_1{
    font-weight: bold;
    color: $gris;
    font-family: $fuentePrimary;
  }

  .grid_services {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}
