
  html {
    font-size: 62.5%; /* 1rem = 10px */
  }
  body {
    font-size: 1.6rem;
    line-height: 1.7;
    cursor: crosshair;
  }
  .header {
    background-image: url("../../img/wallpaper.jpg");
    height: 100vh;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
  }
  .bi {
    font-size: 4rem;
    color: var(--verde);
  }
  



  /************** ( 'NAV' ) **************/
  
  .text-brand {
    color: var(--blanco);
    font-size: 2.7rem !important;
    font-family: var(--fuente1) !important;
    font-weight: 600 !important;
  }
  .logoverde {
    color: var(--verde);
  }
  .navbar-toggler {
    color: #cbec13 !important;
  }
  
  .navbar-toggler-icon {
    color: #cbec13 !important;
  }
  
  #navegacion a:hover {
    color: var(--verde) !important;
    transform: scale(1.3);
    transition: 0.3s;
  }
  .nav_link {
    font-family: var(--fuente1);
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    margin-top: 10px;
  }

  @media (min-width: 768px) {
    .nav_link {
        margin-top: 0;
    }
  }
      

  .separator_navLink{
    color: var(--verde);
    font-weight: bold;
  }

  .activa {
    color: var(--verde) !important;
  }
  .navbar {
    padding-bottom: 0 !important;
  }
  .animacion {
    animation-duration: 3s;
    animation-delay: 0s;
    animation-timing-function: ease;
    animation-name: animarImagen1;
  }
  @keyframes animarImagen1 {
    0% {
      opacity: 0;
      transform: translateY(-10rem);
    }
    30% {
      opacity: 0;
    }
    80% {
      transform: translateY(0);
    }
    100% {
      transform: scale(1);
    }
  }



  /************** ( 'PRESENTATION' ) **************/

.imagen {
  width: 200px;
  display: block;
  margin: 0 auto;
  padding-top: 6rem;
}
@media (min-width: 375px) {
  .imagen {
    width: 250px;
    display: block;
    padding-top: 2rem;
  }
}
.gridHead {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40% 60%;
  height: 100vh;
}
@media (min-width: 768px) {
  .gridHead {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 60%;
    height: 100vh;
  }
  .imagen {
    width: min(100%, 90rem);
  }
}
.txt1 {
  font-family: var(--fuente1);
  font-size: 2rem;
}
.txt2 {
  color: var(--verde);
  font-weight: 900;
  font-family: var(--fuente2);
  font-size: 3rem;
}
@media (min-width: 992px) {
  .txt2 {
    font-size: 5rem;
    font-family: var(--fuente1);
  }
}
.txt3 {
  color: var(--verde);
  font-family: var(--fuente1);
  font-size: 2rem;
}

/************** ( 'ANIMACION' ) **************/
.textox {
  display: block;
  /* font-family: monospace; */
  white-space: nowrap;
  border-right: 4px solid;
  width: 17ch; /* numero de caracteres */

  animation: typing 2s steps(17), blink 5s infinite step-end alternate;
  overflow: hidden;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}