/************** ( 'FOOTER' ) **************/
footer {
    background-color: var(--negro);
  }
  
  .footer_text {
    color: var(--blanco);
    font-weight: bold;
  }
  
  .simplescrollup__button {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    transition: 1s all;
    z-index: 10000;
  }
  .simplescrollup__button--show {
    transform: translateX(0);
  }
  .simplescrollup__button--hide {
    transform: translateX(100px);
  }
  