/************** ( 'FOOTER' ) **************/
footer {
    background-color: var(--negro);
  }
  
  .footer_text {
    color: var(--blanco);
    font-weight: bold;
  }
  
  .simplescrollup__button {
    position: fixed;
    bottom: 2rem;
    right: 0;
    transition: 1s all;
    z-index: 10000;
    min-width: 160px;
    font-size: 15px !important;
    font-weight: bold !important;
  }



  .simplescrollup__button--show {
    transform: translateX(0);
  }
  .simplescrollup__button--hide {
    transform: translateX(100px);
  }
  
  
  .simplescrollup__button2 {
    position: fixed;
    bottom: 5rem;
    right: 2.5rem;
    transition: 1s all;
    z-index: 10000;
  }
  .simplescrollup__button2--show {
    transform: translateX(0);
  }
  .simplescrollup__button2--hide {
    transform: translateX(100px);
  }
  