:root {
  --fuente1: 'Montserrat', sans-serif;
  --fuente2: "Titillium Web", sans-serif;

  --verde: #cbec13;
  --verdeOscuro: #8ba10f;
  --negro: #000;
  --gris: #919191;
  --blanco: #ffffff;
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
