
/************** ( 'TITLE SERVICES' ) **************/

.contenedorServices{
    background-color: var(--negro);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.tittleServices {
    font-size: 5rem;
    font-family: var(--fuente1);
    font-weight: bold;
    margin-bottom: 10rem;
  }
  @media (min-width: 768px) {
    .tittleServices {
      padding-top: 8rem;
    }
  }
  @media (min-width: 1200px) {
    .tittleServices {
      padding-top: 0rem;
    }
  }
  .containerServices {
    height: 300px;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  @media (min-width: 992px) {
    .containerServices {
      height: 400px;
    }
  }
  @media (min-width: 1200px) {
    .containerServices {
      height: 300px;
    }
  }
  
  .service1Img {
    max-width: 100px;
  }
  
  .icono {
    color: #bdbdbd;
    font-size: 8rem;
  }
  .icono:hover,
  .icono_texto2:hover {
    color: #cbec13;
    transform: scale(1.1);
  }

  .containerServices{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .containerServices:hover {
    /* border-bottom: 4px solid var(--verde) */
    border-bottom: 4px solid;
    border-image: linear-gradient(to right, #cbec13, rgb(255, 255, 255));
    border-image-slice: 2;
    color: white;
    margin: auto;
  }
  
  .icono_texto {
    color: white;
    font-weight: bold;
    padding-top: 1rem;
  }
  .icono_texto2 {
    color: var(--gris);
    font-size: 15px !important;
  }